*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
}

.container{
    width:95%;
    margin:auto;
    padding-top:20px;
}
.top-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    gap:20px;
    margin-bottom:40px;
}
.director{
    flex:1;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.director img{
    width:320px;
    height:320px;
    object-fit:cover;
    border-radius:15px;
    border:4px solid #0056d6;
    margin-bottom:20px;
}
.director-message{

    width:320px;

    background:white;

    padding:20px;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,.15);

    text-align:justify;

}

.director-message h3{

    color:#003366;

    margin-bottom:10px;

    border-bottom:2px solid #0056d6;

    padding-bottom:8px;

}

.director-message p{

    font-size:15px;

    color:#444;

    line-height:1.7;

    text-align:justify;

}
.welcome-box{

    width:350px;
    height:350px;          /* Same height as the director image */

    background:white;

    border-radius:15px;

    padding:20px;

    box-shadow:0 5px 15px rgba(0,0,0,.15);

    display:flex;
    flex-direction:column;
    justify-content:center;     /* Centers content vertically */
    align-items:center;         /* Centers content horizontally */

    text-align:center;

}

.welcome-box h1{

    font-size:34px;

    color:#003366;
     margin-top:0;
    margin-bottom:5px;

}

.welcome-box h2{

    font-size:42px;

    color:#0056d6;
     margin-top:0;
    margin-bottom:10px;

    font-weight:bold;

}

.welcome-box p{
    margin-top:0;
    font-size:18px;

    color:#555;

    font-style:italic;

}
.logo{
    flex:2;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.logo img{
    width:350px;
    height:auto;
     margin-bottom:20px;
}
.contact-box{

    width:320px;

    margin-left:auto;      /* Pushes it to the extreme right */

    background:white;

    padding:20px;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,.15);

    
    margin-top:0;
    align-self:flex-start;

}

.contact-box h3{

    color:#003366;

    margin-bottom:15px;

    border-bottom:2px solid #0056d6;

    padding-bottom:10px;

}

.contact-box p{

    margin:12px 0;

    font-size:16px;

}

.contact-box i{

    color:#0056d6;

    width:25px;

}

.cards{

    /*display:flex;

    //justify-content:center;

    //gap:25px;

    flex-wrap:wrap;
    */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    max-width: 1400px;
    margin: auto;

}

.card{

    width:320px;

    background:white;

    border-radius:18px;

    padding:30px;

    box-shadow:0 5px 15px rgba(0,0,0,.15);

}

.card i{

    font-size:55px;

    margin-bottom:20px;

}

.card h2{

    margin-bottom:15px;

    font-size:18px;

}

.card p{

    color:#444;

    line-height:1.6;

    margin-bottom:30px;

}

.card button{

    background:blue;

    color:white;

    border:none;

    padding:12px 20px;

    border-radius:25px;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

}

.card button:hover{

    background:#cc0000;

}

.footer-blue{

    margin-top:50px;

    width:100%;

    height:180px;

    background:blue;

}